@font-face {
  font-family: Made;
  src: url(.//Fonts/MADEAvenueRegular.otf);
}

@font-face {
  font-family: Bo;
  src: url(.//Fonts/BOOWIE.ttf);
}

.app {
  display: flex;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.3)
    ),
    url('.//Images/purple.webp');
  background-size: cover;
  background-position: center;
}

.main {
  font-family: Made;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title {
  font-size: 120px;
  font-weight: 900;
  color: #343434;
}
  
form {
  padding: 15px 80px;
  border-radius: 20px;
}
  
.form-heading {
  font-family: Made;
  text-align: center;
  padding-bottom: 20px;
}
  
.submit-button {
  width: 75%;
  max-width: 350px;
  min-width: 250px;
  height: 40px;
  border: none;
  margin: 1rem 0;
  border-radius: 8px;
  background-color: #331574;
  color: #fff;
  font-weight: 600;
}

.error-message {
  color: #b32547;
  font-size: 11px;
}

.star {
  height: 150px;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.success {
  font-family: Made;
  text-align: center;
  margin-bottom: 400px;
}

.form-container {
  min-width: 400px;
  backdrop-filter: blur(35px);
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.slogan {
  font-size: 20px;
}

.logo {
  height: 6rem;
}

.logo-name {
  font-family: Bo;
  color: #2642b3;
  text-align: center;
  font-size: 30px;
}

.logo-span {
  font-family: Bo;
  color: #b47a38;
  font-weight: 300;
  font-size: 22px;
}